<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <!--  <div th:insert="~{shared/meta :: meta}"></div>-->
  <title>Сотрудники</title>
</head>
<body>
<!--<div class="head">-->
<!--  <div th:insert="~{shared/header :: header}"></div>-->
<!--</div>-->
<!--<form action="#" th:action="@{/users/usersbyrole}" method="post">-->
<!--  <select name="role">-->
<!--    <option value="ROLE_user">Пользователи</option>-->
<!--    <option value="ROLE_candidate">Кандидаты в редакторы</option>-->
<!--    <option value="ROLE_editor">Редакторы</option>-->
<!--    <option value="ROLE_admin">Администраторы</option>-->
<!--  </select>-->
<!--  <input type="submit" value="Выбрать">-->
<!--</form>-->
<table>
  <tr><th>Id</th><th>ФИО</th>
  <tr th:each="worker : ${workers}"><td th:text="@{${worker.getId()}}"></td><td th:text="@{${worker.getName()}}"></td><td><a th:href="@{'/main/workers/salary/' + ${worker.getId()}}">Зарплата</a></td></tr>
  <tr><td><a th:href="@{/main/workers/create}">Добавить сотрудника</a></td></tr>
</table>
</body>
</html>