<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <div th:insert="~{shared/meta :: meta}"></div>
  <title>Стоимость материалов</title>
</head>
<body>
<div class="head">
  <div th:insert="~{shared/header :: header}"></div>
</div>
<div class="table_container">
<table>
  <tr><th>Id</th><th>Стоимость</th><th>Период</th>
  <tr th:each="materialCost : ${materialCosts}"><td th:text="@{${materialCost.getId()}}"></td><td th:text="@{${materialCost.getCost()}}"></td><td th:text="@{${materialCost.getPeriod()}}"></td></tr>
  <tr><td><a th:href="@{'/main/materials/cost/' + ${materialId} + '/create'}">Добавить запись</a></td></tr>
</table>
</div>
</body>
</html>