<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:insert="~{shared/meta :: meta}"></div>
    <title>Материалы</title>
</head>
<body>
<div class="head">
    <div th:insert="~{shared/header :: header}"></div>
</div>
<div class="table_container">
<table>
    <tr><th>Id</th><th>Наименование</th>
    <tr th:each="material : ${materials}"><td th:text="@{${material.getId()}}"></td><td th:text="@{${material.getName()}}"></td><td><a th:href="@{'/main/materials/cost/' + ${material.getId()}}">Стоимость</a></td><td><a th:href="@{'/main/materials/edit/' + ${material.getId()}}">Редактировать</a></td></tr>
    <tr><td><a th:href="@{/main/materials/create}">Добавить материал</a></td></tr>
</table>
</div>
</body>
</html>