<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Создание записи о зарплате</title>
</head>
<body>
<form action="#" th:action="@{/main/workers/salary/create}" th:object="${salary}" method="post">
  <input type="number" hidden="true" th:field="*{workerId}">
  <p>Зарплата: <input type="number" min="0" max="99999999.99" step="0.01" required th:field="*{salary}" /></p>
  <p>Период: <input type="datetime-local" th:field="*{periodString}" /></p>
  <p><input type="submit" value="Сохранить" /></p>
</form>
</body>
</html>