<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <div th:insert="~{shared/meta :: meta}"></div>
  <title>Сотрудники</title>
</head>
<body>
<div class="head">
  <div th:insert="~{shared/header :: header}"></div>
</div>
<div class="table_container">
<table>
  <tr><th>Id</th><th>ФИО</th>
  <tr th:each="worker : ${workers}"><td th:text="@{${worker.getId()}}"></td><td th:text="@{${worker.getName()}}"></td><td><a th:href="@{'/main/workers/salary/' + ${worker.getId()}}">Зарплата</a></td><td><a th:href="@{'/main/workers/edit/' + ${worker.getId()}}">Редактировать</a></td></tr>
  <tr><td><a th:href="@{/main/workers/create}">Добавить сотрудника</a></td></tr>
</table>
</div>
</body>
</html>