<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <div th:insert="~{shared/meta :: meta}"></div>
  <title>Записи о зарплате сотрудника</title>
</head>
<body>
<div class="head">
  <div th:insert="~{shared/header :: header}"></div>
</div>
<div class="table_container">
<table>
  <tr><th>Id</th><th>Зарплата</th><th>Период</th>
  <tr th:each="workerSalary : ${workerSalaries}"><td th:text="@{${workerSalary.getId()}}"></td><td th:text="@{${workerSalary.getSalary()}}"></td><td th:text="@{${workerSalary.getPeriod()}}"></td></tr>
  <tr><td><a th:href="@{'/main/workers/salary/' + ${workerId} + '/create'}">Добавить запись</a></td></tr>
</table>
</div>
</body>
</html>